@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResearchManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/ResearchManagementSystem.styles.css" asp-append-version="true" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/84ccdc0b43.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navvbg navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background:#850000;">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center me-5">
                    <div class="" onclick="toggleSidebar()">
                        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="me-3 ms-3">
                            <img src="~/images/RMOlogo.png" alt="RMO Logo" style="width: 60px; height: 60px; border-radius: 60px" />
                        </div>
                        <div class="d-flex flex-column text-white">
                            <div class="rmo">Research Management Office</div>
                            <div class="pup">Polytechnic University of the Philippines</div>
                        </div>
                    </div>
                </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="UserRoles" asp-action="Index">Accounts</a>
                        </li>
                        <!---->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="AddFAQs" asp-action="Index">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="SystemAdministrator" asp-action="SystemAdministratorInformationDesk">Information Desk</a>
                        </li>

                    </ul>
                    <div class="ms-auto d-flex justify-content-end align-items-center">
                        <!-- Role Selection Dropdown -->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var roles = await UserManager.GetRolesAsync(user);

                            <div class="dropdown me-3">
                                <button class="btn bg-none border-white text-white dropdown-toggle" type="button" id="roleDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="roleDropdown">
                                    @foreach (var role in roles)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("SwitchRole", "UserRoles", new { selectedRole = role })">@role</a>
                                    }
                                    <!-- Link to Role Selection Page -->
                                    <a class="dropdown-item" href="@Url.Action("RoleSelection", "UserRoles")">Manage Roles</a>
                                </div>
                            </div>
                        }



                        <div class="hoverfxright me-2 p-2 rounded-2">
                            <a asp-controller="SystemAdministrator" asp-action="SystemAdministratorNotifications"><i class="fa-solid fa-bell fa-lg" style="color: #ffffff;"></i></a>
                        </div>
                        <div class="hoverfxright me-2 p-2 rounded-2">
                            <a asp-controller="SystemAdministrator" asp-action="SystemAdministratorProfile"><i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <a class="text-decoration-none text-white" asp-controller="SystemAdministrator" asp-action="SystemAdministratorProfile">
            <div class="profile-section d-block text-center">

                <img src="~/images/profile.png" alt="User Profile" class="profile-image w-50 d-block mx-auto mb-2">

                <!-- Clickable Hello, [Username] link -->

                <p class="user-email my-0 fs-6 fw-light text-white">Hello, @User.Identity?.Name!</p>
            </div>
        </a>

        <div class="menu-section">
            <ul>
                <li class="sideitemz p-2 rounded-2"><a class="text-white text-decoration-none" asp-controller="AddFAQs" asp-action="Index"><i class="fa-solid fa-person-circle-question fa-2xl me-3" style="color: #ffffff;"></i><span class="ms-2">FAQs</span></a></li>
                <li class="sideitemz p-2 rounded-2"><a class="text-white text-decoration-none" asp-controller="SystemAdministrator" asp-action="SystemAdministratorRateUs"><i class="fa-solid fa-star fa-2xl me-3" style="color: #ffffff;"></i><span class="ms-2">Rate Us</span></a></li>

                <li class="sideitemz p-2 rounded-2"><a class="text-white text-decoration-none" asp-controller="SystemAdministrator" asp-action="SystemAdministratorAbout"><i class="fa-solid fa-circle-info fa-2xl me-3" style="color: #ffffff;"></i><span class="ms-2">About</span></a></li>
            </ul>
        </div>

        <div class="logout-section mt-3">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="logout-button btn btn-link text-white w-100">
                    <i class="fa-solid fa-right-from-bracket fa-2xl me-3" style="color: #ffffff;"></i> Log Out
                </button>
            </form>
        </div>


    </div>

    <div class="container mt-5">
        <main role="main" class="pt-5 pb-5">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/sidebar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>