@using ResearchManagementSystem.Models
@model List<ResearchManagementSystem.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/SuperAdmin_Layout.cshtml";
}
<link href="~/css/ClusterCoordinator-Faculty-FacultyList.css" rel="stylesheet" />

<div>
    <!--navbar-->
    <div class="nnvb container mt-2">
        <div class="row">
            <div class="itm-active col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="UserRoles" asp-action="Index" id="aactive">User Roles</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="RoleManager" asp-action="Index" id="inaactive">Role Manager</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="UserRoles" asp-action="FacultyList" id="inaactive">Faculty</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="UserRoles" asp-action="StudentList" id="inaactive">Students</a>
            </div>

        </div>
    </div>

    <!-- Search and Filter -->
    <div class="container mt-3 px-0">
        <div class="row justify-content-between">
            <!-- Search -->
            <div class="col-lg-3 col-sm-12 mb-2">
                <form action="" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" name="searchTerm">
                    <button type="submit" id="action"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #850000;"></i></button>
                </form>
            </div>
            <!-- Filter -->
            <div class="col-lg-3 col-sm-12 mb-2">
                <form asp-action="" method="get" class="d-flex">
                    <div class="dropdown w-100">
                        <button class="btn btn-danger dropdown-toggle w-100 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu w-100">
                            <div class="container">
                                <!--First Name-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-label fw-bold" name="first_name_filter">First Name</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12">
                                        <select class="form-select" id="first_name_filter">
                                            <option>First Name (A-Z)</option>
                                            <option>First Name (Z-A)</option>
                                        </select>
                                    </div>
                                </div>

                                <!--Last Name-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-label fw-bold" name="last_name_filter">Last Name</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12">
                                        <select class="form-select" id="last_name_filter">
                                            <option>Last Name (A-Z)</option>
                                            <option>Last Name (Z-A)</option>
                                        </select>
                                    </div>
                                </div>

                                <!--Email-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-label fw-bold" name="email_filter">Email</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12">
                                        <select class="form-select" id="email_filter">
                                            <option>Email (A-Z)</option>
                                            <option>Email (Z-A)</option>
                                        </select>
                                    </div>
                                </div>

                                <!--Role-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-label fw-bold" name="role">Role</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12">
                                        <select class="form-select" id="role">
                                            <option>Role</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-danger w-100">Apply Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container bg-white shadow mt-1 table-responsive rounded-4 p-0">
        <table class="table w-100">
            <thead class="shadow-sm" style="background:#850000;">
                <tr class="align-middle">

                    <th class="p-4 bg-transparent text-white" scope="row">First Name</th>
                    <th class="p-4 bg-transparent text-white" scope="row">Last Name</th>
                    <th class="p-4 bg-transparent text-white" scope="row">Email</th>
                    <th class="p-4 bg-transparent text-white" scope="row">Roles</th>
                    <th class="p-4 bg-transparent text-white" scope="row">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)

                {
                    <tr class="align-middle">
                        <td class="p-4 bg-transparent" scope="row">@user.FirstName</td>
                        <td class="p-4 bg-transparent" scope="row">@user.LastName</td>
                        <td class="p-4 bg-transparent" scope="row">@user.Email</td>
                        <td class="p-4 bg-transparent" scope="row">@string.Join(" , ", user.Roles.ToList())</td>
                        <td class="p-4 bg-transparent" scope="row">
                            <a class="btn btn-danger" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.Id">Manage Roles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
